<html>
<body>
<h1>Register here</h1>
<form action="/register" method="POST">
    <input type="text" name="DisplayName" placeholder="Enter your Name here">
    <input type="password" name="password" placeholder="Select a strong password">
    <p>You will not be able to change your password once you have created it, because there are specific keys generated on it</p>
    <br>
    <button type="submit">Submit</button>
</form>
</body>
</html>
